In [19]:
import os
import pandas as pd
import random

In [20]:
input = pd.read_csv('../csv/train.csv')
# length = len(input)
# print(length)

In [21]:
# percentage = 0.3
# numrows = int(length * percentage )
# numrows

In [22]:

# import random
# indices = random.sample(range(0, length), numrows)

In [27]:
def testmodule(df, percentage):
    
    length = len(df)
    numrows = int(length * percentage )
    indices = random.sample(range(0, length), numrows)
#     print(indices)
    for i in indices:
        if(df.loc[i,'label']=="NORMAL"):
            df.loc[i,'label']  = "PNEUMONIA"
        else:
            df.loc[i,'label'] = "NORMAL"
    return df

In [28]:
df2 = testmodule(input.copy(),0.3)

[845, 1143, 4708, 2579, 3834, 4501, 1125, 3842, 3544, 4353, 3632, 4856, 997, 3005, 85, 5142, 3550, 2542, 3599, 3933, 1285, 3870, 3300, 3349, 4053, 4946, 4564, 2786, 3049, 160, 3257, 3945, 3241, 4402, 3391, 469, 2015, 2492, 4159, 5016, 2131, 2681, 2658, 2568, 723, 982, 2853, 3589, 5119, 2922, 4453, 3582, 2167, 3888, 253, 3673, 4316, 2685, 927, 4351, 2382, 1639, 4384, 5081, 2199, 1116, 3481, 3473, 107, 149, 2153, 3412, 1777, 2085, 1266, 4214, 4671, 4924, 1627, 3184, 4459, 2754, 3054, 5026, 466, 3357, 4208, 1161, 5008, 3369, 3328, 3912, 1391, 2794, 2005, 3672, 2338, 3557, 2607, 2197, 665, 4531, 2874, 3699, 2222, 409, 3123, 4262, 636, 4184, 2459, 1425, 1168, 1099, 2951, 3762, 2943, 99, 3664, 4189, 1072, 1109, 3301, 1086, 2067, 3143, 5099, 2105, 1726, 1283, 3136, 2623, 4867, 5157, 1213, 1142, 3454, 4957, 3693, 642, 314, 1527, 2291, 4830, 1080, 961, 405, 3957, 2213, 1762, 4746, 2834, 1757, 454, 238, 4854, 4372, 2558, 1720, 1749, 2477, 4833, 1815, 2539, 1061, 1113, 2152, 4139, 1904, 4371, 2285, 3618, 5084, 4176, 2023, 4148, 4141, 2901, 1314, 1861, 1375, 3410, 2547, 3004, 2672, 835, 753, 3044, 126, 1530, 1582, 2178, 270, 4423, 3466, 4855, 1341, 2923, 4466, 574, 5134, 1209, 1448, 417, 3078, 248, 3917, 3943, 39, 2051, 3152, 497, 2018, 4451, 1214, 306, 1542, 387, 2651, 291, 1484, 898, 5153, 155, 981, 1629, 945, 2514, 2243, 825, 2948, 775, 112, 2902, 2054, 2052, 3467, 2536, 4333, 65, 655, 3892, 3462, 926, 1991, 1588, 1088, 530, 1910, 4848, 304, 4149, 1326, 4936, 739, 2340, 3914, 1310, 4037, 1496, 2680, 368, 3911, 3702, 3592, 4542, 452, 4732, 5061, 5057, 3052, 2478, 2577, 3165, 3446, 4987, 715, 5166, 3327, 1290, 5112, 1729, 2595, 3887, 3062, 168, 2040, 2511, 2183, 702, 3031, 4832, 760, 2757, 1332, 1363, 610, 4121, 1313, 28, 1068, 182, 1288, 4142, 2297, 2202, 4664, 2563, 5124, 4016, 3625, 1489, 3150, 587, 1616, 3562, 2882, 3351, 5125, 5208, 459, 3861, 4289, 4070, 3682, 2692, 1659, 70, 3961, 4794, 4342, 1604, 1724, 938, 212, 3751, 450, 1774, 4026, 3159, 4422, 1291, 3773, 4417, 1579, 2643, 3447, 458, 4041, 4881, 5054, 4650, 3769, 4968, 4002, 1975, 531, 1133, 2729, 5065, 98, 3108, 3124, 1626, 4092, 4336, 4106, 995, 4990, 4458, 747, 4478, 434, 3282, 2532, 4379, 3552, 866, 3924, 1501, 871, 1020, 1194, 2084, 4197, 3027, 4662, 2763, 4410, 3499, 2488, 1562, 4406, 1483, 4020, 1299, 441, 3254, 725, 5032, 5187, 342, 2166, 2450, 4135, 868, 2872, 5126, 3195, 3364, 3575, 2983, 4898, 4800, 4296, 4373, 494, 4640, 5049, 4078, 2846, 2050, 1092, 999, 3129, 3193, 2581, 4219, 1463, 679, 734, 2273, 3225, 804, 1867, 4601, 188, 2372, 10, 1378, 3994, 2907, 2928, 61, 4380, 4603, 146, 4729, 349, 2265, 412, 4173, 428, 900, 784, 4104, 170, 2386, 2286, 1609, 4510, 802, 872, 1531, 1034, 1847, 1678, 3486, 4246, 3371, 4445, 2765, 4963, 1024, 2631, 858, 3198, 3346, 2860, 1422, 1889, 2089, 1832, 4727, 5202, 2608, 3813, 259, 3920, 4015, 1083, 1152, 1981, 433, 4061, 2484, 4954, 600, 4762, 2876, 2755, 3812, 1567, 4366, 2989, 1066, 3245, 2551, 4171, 3442, 5095, 5053, 4335, 2778, 2884, 2820, 4515, 2586, 3623, 5098, 3690, 4237, 1030, 4222, 3857, 4648, 5, 4920, 4356, 4185, 2770, 3800, 2964, 653, 3966, 4436, 2933, 3616, 4950, 4193, 2059, 5093, 2182, 2241, 885, 1237, 402, 1102, 2694, 2960, 422, 3407, 369, 3730, 198, 542, 3418, 1381, 398, 3137, 5025, 3854, 2318, 2678, 5193, 2375, 2142, 3126, 380, 5162, 834, 1929, 1921, 2469, 576, 234, 5184, 4269, 328, 3061, 1773, 1115, 3106, 2449, 1333, 206, 2973, 4, 4689, 1304, 716, 3023, 1956, 4519, 1965, 2027, 3816, 4067, 3239, 3572, 591, 2408, 2441, 3100, 4239, 769, 3286, 266, 2956, 4200, 2021, 944, 677, 1671, 2986, 558, 1888, 5015, 3398, 4756, 647, 2827, 3858, 2415, 2767, 4546, 3215, 4232, 339, 2689, 3074, 4179, 4799, 2803, 1383, 2022, 3839, 2264, 689, 4872, 2442, 3548, 1013, 4967, 1280, 4252, 2823, 4085, 372, 1550, 2073, 4880, 4170, 2505, 4439, 3444, 4110, 5030, 462, 36, 2427, 3230, 2223, 1464, 1829, 370, 984, 4539, 2859, 2897, 3491, 4778, 1165, 1509, 1308, 875, 1075, 2871, 3919, 2245, 567, 1173, 3255, 3712, 2116, 1953, 521, 3233, 4616, 3516, 3310, 1101, 2934, 5080, 1090, 4697, 2980, 4391, 1788, 3474, 2359, 4974, 4007, 994, 453, 1472, 917, 5077, 1135, 3142, 344, 2915, 4376, 5088, 2064, 4523, 1606, 4323, 3619, 3273, 1144, 613, 2504, 5113, 3999, 3739, 810, 1740, 1023, 1301, 2133, 3347, 359, 1900, 836, 3250, 2525, 664, 5121, 4438, 3569, 4306, 5182, 3614, 2788, 38, 1951, 4634, 3419, 1242, 4667, 1345, 2660, 854, 35, 4396, 3916, 2298, 3253, 1172, 843, 1012, 4952, 3686, 484, 3048, 2554, 3509, 4354, 3659, 3431, 3511, 185, 3714, 2939, 3025, 1253, 25, 4004, 4003, 787, 1451, 2889, 4659, 2641, 4672, 4233, 68, 3082, 4921, 2957, 179, 1654, 1660, 394, 4687, 361, 1510, 896, 261, 2985, 3487, 4055, 1935, 4878, 3260, 2599, 534, 4343, 3727, 14, 4221, 1315, 4132, 766, 1329, 1405, 1810, 1934, 2712, 3732, 1652, 1683, 1941, 4100, 2172, 3166, 1001, 2775, 443, 1016, 4834, 4978, 1398, 3160, 4153, 1822, 1838, 4114, 5045, 5196, 4462, 260, 2162, 953, 2324, 2965, 4005, 1418, 1614, 535, 514, 3311, 690, 2160, 1959, 924, 867, 4899, 786, 3403, 633, 395, 2751, 3752, 5199, 4520, 3942, 958, 1514, 4217, 1957, 3088, 3694, 1198, 4023, 2911, 3278, 4907, 1231, 3583, 2195, 2518, 1939, 4461, 2605, 1478, 1700, 3441, 2332, 1235, 1388, 4969, 2125, 827, 1431, 3629, 5096, 2642, 1672, 5107, 4474, 928, 3894, 1997, 166, 4840, 316, 3581, 675, 2416, 3826, 1698, 1502, 2828, 3443, 5212, 2236, 4579, 3792, 4673, 2894, 4699, 249, 4241, 2069, 3777, 204, 169, 3866, 498, 1870, 1074, 4082, 1293, 828, 1722, 131, 1282, 796, 49, 552, 1479, 1583, 15, 2736, 3554, 4852, 371, 2479, 4229, 3584, 3519, 5186, 5149, 3880, 4435, 3671, 4702, 2975, 4303, 71, 4715, 4554, 3068, 1573, 208, 3302, 2611, 2791, 3470, 1924, 869, 360, 1188, 1340, 1190, 2224, 3820, 5109, 1916, 1721, 815, 2109, 2272, 2714, 1334, 2639, 3571, 3993, 3070, 4875, 3710, 1781, 4630, 4415, 2516, 1734, 4901, 1239, 3873, 3847, 4979, 4884, 528, 3457, 271, 4283, 1325, 4661, 998, 4686, 5042, 273, 2135, 1233, 4641, 2193, 340, 2326, 2941, 2385, 2066, 3610, 805, 1950, 1902, 479, 426, 4308, 4550, 4207, 4010, 1534, 2609, 540, 4042, 473, 821, 4059, 3654, 935, 1709, 302, 5040, 2208, 2879, 333, 573, 2137, 1104, 1454, 29, 565, 3270, 4692, 1106, 4714, 505, 4377, 3040, 3480, 172, 5103, 1302, 4663, 592, 3018, 857, 3988, 3506, 2808, 685, 2854, 3450, 3954, 4528, 3607, 2636, 4437, 5013, 2139, 4452, 553, 2526, 1063, 2730, 5180, 128, 976, 1710, 2559, 1696, 1317, 317, 250, 3958, 4581, 3131, 3598, 295, 4315, 4258, 2720, 4625, 1108, 903, 2130, 2395, 2517, 4770, 3546, 1818, 2887, 2800, 915, 2394, 4863, 2175, 930, 1018, 1776, 2036, 2282, 4903, 2456, 2129, 2388, 1980, 3726, 3734, 4046, 2028, 2331, 5148, 1406, 377, 2035, 829, 4561, 1503, 264, 3163, 744, 5181, 4669, 5118, 1195, 2541, 1286, 2673, 13, 2316, 2104, 743, 5213, 3370, 3098, 2790, 2524, 1461, 1, 4772, 840, 4480, 1819, 3281, 3947, 3187, 2645, 4031, 3630, 5006, 608, 3877, 2549, 4028, 382, 2155, 5020, 2785, 1437, 4888, 1846, 672, 67, 5101, 5111, 2261, 3390, 3636, 2617, 2992, 100, 3593, 127, 763, 4655, 3776, 5047, 2723, 2165, 2313, 343, 977, 69, 1540, 1601, 1546, 2368, 130, 5071, 5094, 4473, 4769, 177, 2705, 2070, 2550, 4482, 1598, 3135, 5151, 1265, 4388, 673, 4060, 4600, 3148, 3953, 3822, 4775, 3790, 1228, 5139, 117, 2209, 4758, 33, 905, 748, 1210, 4904, 2840, 2400, 801, 2348, 4754, 408, 4591, 837, 2438, 4857, 3798, 563, 2370, 2984, 62, 125, 2314, 864, 1593, 5019, 4841, 820, 1986, 1962, 116, 1440, 2982, 4425, 3692, 3872, 2296, 468, 338, 4103, 4499, 1982, 4205, 5131, 476, 1395, 1878, 4757, 3756, 839, 1397, 3555, 888, 772, 356, 783, 1858, 3216, 1750, 258, 2784, 3350, 5201, 3356, 1122, 980, 2113, 2974, 4665, 996, 667, 1141, 2656, 1289, 3014, 886, 1320, 4196, 970, 1831, 3713, 954, 3362, 4886, 4847, 4398, 4868, 920, 765, 3262, 192, 2083, 1824, 674, 4908, 3696, 120, 4027, 345, 1059, 1045, 632, 3779, 1273, 4599, 4813, 1275, 4961, 3505, 2601, 2189, 543, 1508, 609, 2315, 797, 1476, 1318, 568, 1445, 2485, 2380, 1468, 442, 3878, 3874, 1882, 3661, 4286, 2497, 2543, 4358, 5031, 308, 907, 180, 1707, 351, 4032, 581, 1860, 211, 187, 2404, 990, 350, 3648, 2093, 2330, 1222, 2402, 2799, 1361, 2100, 366, 2977, 3603, 1967, 2304, 2949, 3428, 1134, 818, 1669, 3334, 1512, 1123, 3799, 4317, 4471, 4363, 3022, 575, 1015, 3796, 1932, 2528, 375, 2128, 3158, 4696, 2097, 1702, 5177, 4300, 432, 4057, 1521, 1715, 4913, 3817, 4086, 1648, 353, 2433, 2863, 2044, 4169, 4389, 388, 3409, 3433, 2926, 3207, 4701, 5188, 569, 3490, 429, 4033, 1780, 923, 2924, 4080, 3835, 1041, 1442, 1065, 5195, 2777, 4745, 4409, 1640, 2258, 2905, 2425, 1010, 2598, 1712, 4611, 2606, 3891, 3995, 53, 4894, 2708, 692, 1925, 3075, 904, 1100, 282, 2487, 3829, 1755, 123, 5087, 4036, 4056, 4047, 2578, 41, 4619, 2552, 895, 1835, 3502, 2841, 4263, 4062, 4362, 611, 5046, 4419, 1584, 103, 4518, 4213, 2099, 1076, 882, 2766, 3243, 708, 1486, 1492, 4553, 4509, 2946, 1575, 918, 108, 1438, 3094, 3674, 3883, 4945, 2910, 4324, 2906, 4278, 2045, 2646, 1868, 3117, 3154, 5038, 2940, 493, 2899, 465, 2308, 1642, 1401, 2118, 3038, 4433, 3676, 1736, 2110, 969, 3559, 5064, 1547, 4682, 4635, 3203, 5130, 1578, 3151, 2666, 229, 2422, 762, 34, 2102, 3778]

In [25]:
df2

      Unnamed: 0                         image      label
0              0     NORMAL2-IM-1020-0001.jpeg     NORMAL
1              1     NORMAL2-IM-0843-0001.jpeg  PNEUMONIA
2              2     NORMAL2-IM-0866-0001.jpeg     NORMAL
3              3             IM-0543-0001.jpeg     NORMAL
4              4             IM-0131-0001.jpeg     NORMAL
...          ...                           ...        ...
5211        5211  person662_bacteria_2554.jpeg  PNEUMONIA
5212        5212  person307_bacteria_1441.jpeg     NORMAL
5213        5213  person253_bacteria_1157.jpeg  PNEUMONIA
5214        5214      person103_virus_190.jpeg  PNEUMONIA
5215        5215  person673_bacteria_2566.jpeg  PNEUMONIA

[5216 rows x 3 columns]

In [26]:
input

      Unnamed: 0                         image      label
0              0     NORMAL2-IM-1020-0001.jpeg     NORMAL
1              1     NORMAL2-IM-0843-0001.jpeg     NORMAL
2              2     NORMAL2-IM-0866-0001.jpeg     NORMAL
3              3             IM-0543-0001.jpeg     NORMAL
4              4             IM-0131-0001.jpeg     NORMAL
...          ...                           ...        ...
5211        5211  person662_bacteria_2554.jpeg  PNEUMONIA
5212        5212  person307_bacteria_1441.jpeg  PNEUMONIA
5213        5213  person253_bacteria_1157.jpeg  PNEUMONIA
5214        5214      person103_virus_190.jpeg  PNEUMONIA
5215        5215  person673_bacteria_2566.jpeg  PNEUMONIA

[5216 rows x 3 columns]

In [15]:
input

      Unnamed: 0                         image      label
0              0     NORMAL2-IM-1020-0001.jpeg     NORMAL
1              1     NORMAL2-IM-0843-0001.jpeg     NORMAL
2              2     NORMAL2-IM-0866-0001.jpeg     NORMAL
3              3             IM-0543-0001.jpeg  PNEUMONIA
4              4             IM-0131-0001.jpeg  PNEUMONIA
...          ...                           ...        ...
5211        5211  person662_bacteria_2554.jpeg  PNEUMONIA
5212        5212  person307_bacteria_1441.jpeg     NORMAL
5213        5213  person253_bacteria_1157.jpeg  PNEUMONIA
5214        5214      person103_virus_190.jpeg  PNEUMONIA
5215        5215  person673_bacteria_2566.jpeg  PNEUMONIA

[5216 rows x 3 columns]

In [ ]:
df